<div id="userstab" class="panel panel-default tab-pane fade in active">
  <div class="panel-body">
    <table class="table table-responsive table-striped">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Phone Number
          </th>
          <th>
            Organization
          </th>
          <th>
            &nbsp;
          </th>
        </tr>
      </thead>
      <tbody>
      <%= render :partial => "user", :collection => @users %>

      </tbody>
    </table>
    <%= paginate @users %>
  </div>
</div>
