<div id="orderstab" class="panel panel-default tab-pane fade in active">
  <div class="panel-body">
    <h1>Parking Codes</h1>
    <table class="table table-responsive table-striped">
      <thead>
        <tr>
          <th>
            Code
          </th>
          <% if Setting.date_scheme? %>
            <th>
            Date
          </th>
        <% else %>
            <th>
            Redeemed
          </th>
        <% end %>
          <th>
            &nbsp;
          </th>
          <th>
            &nbsp;
          </th>
        </tr>
      </thead>
      <tbody>

      <%= render :partial => "parking_code", :collection => @parking_codes %>

      </tbody>
    </table>
  </div>
</div>

