<div id="supporttab" class="panel panel-default tab-pane fade active in">
  <div class="panel-body">
    <h1>Parking Code</h1>
<p>
  <strong>Code:</strong>
  <%= @parking_code.code %>
</p>

<p>
  <strong>Codedate:</strong>
  <%= @parking_code.codedate %>
</p>

  <%= link_to 'Edit', edit_parking_code_path(@parking_code) %> 
  </div>
</div>

