

<div  id="sidebar" role="navigation" class="col-xs-4 col-sm-4 col-md-4 col-lg-3 sidebar-offcanvas">
  <div class="panel-group" id="accordion-829268">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-829268" href="#accordion-element-429150">Text Messages</a>
        </h4>
      </div>
      <div id="accordion-element-429150" class="panel-collapse in">
        <div class="list-group">
          <%= link_to "Message listing", text_data_path, class: "list-group-item" %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-group" id="accordion-829268">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-829268" href="#accordion-element-429150">Parking Codes</a>
        </h4>
      </div>
      <div id="accordion-element-429150" class="panel-collapse in">
        <div class="list-group">
          <%= link_to "Code listing", parking_codes_path, class: "list-group-item" %>
          <%= link_to "Create a new code", new_parking_code_path, class: "list-group-item" %>
        </div>
      </div>
    </div>
  </div>
</div>
