<div id="orderstab" class="panel panel-default tab-pane fade in active">
  <div class="panel-body">
    <h1>Text Messages</h1>
    <table class="table table-responsive table-striped">
      <thead>
        <tr>
          <th>From</th>
          <th>Body</th>
          <th>Success</th>
          <th>User</th>
          <th>Company</th>
        </tr>
      </thead>
      <tbody>

      <%= render :partial => "text_datum", :collection => @text_data %>

      </tbody>
    </table>
    <%= paginate @text_data %>
  </div>
</div>

