<h1>Listing text_data</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @text_data.each do |text_datum| %>
      <tr>
        <td><%= link_to 'Show', text_datum %></td>
        <td><%= link_to 'Edit', edit_text_datum_path(text_datum) %></td>
        <td><%= link_to 'Destroy', text_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text datum', new_text_datum_path %>
