<tr>
  <td>
    <%= organization.name %>
  </td>
  <td>
    <%= organization.relationship_name %>
  </td>
  <td>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action</button> <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-sitemap"></i></button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <%= link_to 'Edit', edit_organization_path(organization) %>
        </li>
        <li>
          <%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
        <li class="divider">
        </li>
        <li>
        <a href="#">Separated link</a>
        </li>
      </ul>
    </div>
  </td>
</tr>
