<section>
  <nav class="navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <span class="pull-right visible-xs offbtn">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </span>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/"><span class="icon-home"></span>JamesApp</a></li>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-comment"></span> Chats <span class="label label-primary">42</span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#"><span class="label label-primary">9:00 AM</span> First message</a></li>
          <li><a href="#"><span class="label label-primary">10:00 AM</span> Second message</a></li>
          <li><a href="#"><span class="label label-primary">11:00 AM</span> Fird message</a></li>
          <li class="divider"></li>
          <li><a href="#" class="text-center">View All</a></li>
        </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-envelope"></span> Inbox <span class="label label-info">32</span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#"><span class="label label-primary">4:00 AM</span> Message title</a></li>
          <li><a href="#"><span class="label label-primary">4:30 AM</span> Message title</a></li>
          <li><a href="#"><span class="label label-primary">5:00 AM</span> Long message title test</a></li>
          <li class="divider"></li>
          <li><a href="#" class="text-center">View All</a></li>
        </ul>
        </li>
-->
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span> Admin <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to(settings_path) do %>
              <span class="icon-cog"></span> Settings</a>
            <% end %>  
          </li>
          <li class="divider"></li>
          <li><a href="#"><span class="icon-off"></span> Logout</a></li>
        </ul>
        </li>
      </ul>
    </div>

  </nav>
</section>
